.video {
    width: 250px;
    background-color: var(--primary);
    margin-left: 10px;
    margin-bottom: 15px;
}

/* Make video enlarge on hover */
.video:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: ease-in-out 0.25s;
}


.videocard {
    max-width: 200px ;
    height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    background-color: transparent;
}

.video__info {
    display: flex;
    padding-top: 5px;
    background-color: transparent;
}

.video__avatar {
    margin: 10px;
}

.video__text, .video__text > h4, .video__text > p {
    background-color: transparent;
}